<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>모시는 글</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 text-center">
        <p style="text-align: center;">봄날의 어쩌구 축복을 저쩌구 <br>
        다들 환영합니다 하이하이</p>
      </div>
<!--       <div class="col-lg-4">
        <p>축복을 저쩌구</p>
      </div> -->
<!--       <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>

    <div class="row">
      <div class="col-lg-4 text-center">
        <p style="text-align: center;">
          아버님, 어머님의 아들 원준 <br>
          김지욱, 이충진의 딸 수빈 </p>
      </div>
    </div>
  </div>
</section>
