<!-- About Section -->
<section class="success" id="gift">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>마음 전하실 곳</h2>
        <hr class="gift-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p style="text-align: center;">계좌번호</p>
      </div>
<!--       <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>

  </div>
</section>
