<!-- About Section -->
<section class="success" id="map">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>오시는 길</h2>
        <hr class="star-primary">
      </div>
    </div>
    <center>
      <div class="row">
        <div id="daumRoughmapContainer1715548487414" class="root_daum_roughmap root_daum_roughmap_landing"></div>
        <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
        <script charset="UTF-8">
        	new daum.roughmap.Lander({
        		"timestamp" : "1715548487414",
        		"key" : "2jbcj",
        		"mapWidth" : "360",
        		"mapHeight" : "240"
        	}).render();
        </script>
      </div>
    </center>

    <div class="row">
      <div class="col-lg-12 text-center">
        <p style="text-align: center;">
          <a href="https://naver.me/xDsj83gJ">네이버 지도에서 보기</a>
        </p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p style="text-align: center;"><strong>낙성대입구 관악 02</strong></p>
        <p>호암교수회관 지나 서울대학교 후문 하차 (21번 정류장),
          길 건너 샛길 연구공원 방향 도보로 100m, 검은색 유리건물.</p>
        
        <p style="text-align: center;"><strong>지하철</strong></p>
        <p>2호선 낙성대역 4번 출구 첫 번째 골목 좌회전, 주유소 옆 정류장에서 마을버스 관악 02 승차.</p>
        
        <p style="text-align: center;"><strong>버스</strong></p>
        <p>간선(파랑) 461, 641, 지선(초록) 5413, 5524, 5528. 
          반드시 낙성대입구 하차 후 마을버스 관악 02번 이용.</p>
      </div>
      <div class="col-lg-4">
        <p style="text-align: center;"><strong>자가용</strong></p>
        <p>낙성대입구 &rarr; 서울대 후문 방향이 찾기 수월합니다. 
          서울대 후문 직전 좌회전, 샛길로 100m 진입, 검은색 유리건물.<br>
          <strong>서울대 정, 후문 통과 시 통행료 2,000원이 발생합니다.</strong></p>
        <p>주차 안내 어쩌구, 이상한데로 가면 안되용</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>온라인 중계 링크
<!--           <a></a> -->
        </h2>
        
      </div>
    </div>
  </div>
</section>
