<!-- About Section -->
<section class="success" id="map">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>오시는 길</h2>
        <hr class="star-primary">
      </div>
    </div>
    <center>
      <div class="row">
        <div id="daumRoughmapContainer1715548487414" class="root_daum_roughmap root_daum_roughmap_landing"></div>
        <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
        <script charset="UTF-8">
        	new daum.roughmap.Lander({
        		"timestamp" : "1715548487414",
        		"key" : "2jbcj",
        		"mapWidth" : "360",
        		"mapHeight" : "240"
        	}).render();
        </script>
        <a href="https://naver.me/xDsj83gJ">네이버 지도에서 보기 </a>
      </div>
    </center>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p><strong>지하철</strong> <br>
          2호선 낙성대역 4번 출구로 나와 첫 번째 골목 좌회전 -> GS칼텍스 주유소 옆 <u>마을버스 관악 02 승차</u> -> 
          호암교수회관 지나 서울대학교 후문 하차 (21번 정류장) -> 길 건너 샛길 연구공원 방향 도보로 100m, 검은색 유리건물</p>
        <p><strong>버스</strong> <br>
          버스 이용시 반드시 <u>낙성대입구 하차 후 마을버스 관악 02번 이용.</u> 
          낙성대입구까지는 간선(파랑) 461, 641, 지선(초록) 5413, 5524, 5528</p>
      </div>
      <div class="col-lg-4">
        <p><strong>자가용</strong> <br>
          <u>낙성대입구 -> 서울대 후문 방향이 찾기 수월합니다.</u> 남부순환도로에서 낙성대 방향 좌(강남부터) / 우(신림부터) 회전 -> 
          서울대 후문 방향 약 1.6km 직진 -> 후문 직전 좌회전 -> 샛길로 100m 진입 검은색 유리건물. 
          <strong>서울대 정, 후문을 차량으로 통과하는 경우 통행료 2,000원이 발생합니다.</strong></p>
        <p>주차 안내 어쩌구, 이상한데로 가면 안되용</p>
      </div>
    </div>
  </div>
</section>
