<!-- About Section -->
<section class="success" id="map">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>오시는 길</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <!--
      	* 카카오맵 - 약도서비스
      	* 한 페이지 내에 약도를 2개 이상 넣을 경우에는
      	* 약도의 수 만큼 소스를 새로 생성, 삽입해야 합니다.
      -->
      <!-- 1. 약도 노드 -->
      <div id="daumRoughmapContainer1715545586258" class="root_daum_roughmap root_daum_roughmap_landing"></div>
      
      <!-- 2. 설치 스크립트 -->
      <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
      
      <!-- 3. 실행 스크립트 -->
      <script charset="UTF-8">
      	new daum.roughmap.Lander({
      		"timestamp" : "1715545586258",
      		"key" : "2jbci",
      		"mapWidth" : "360",
      		"mapHeight" : "240"
      	}).render();
      </script>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>주소주소 지하철 / 버스 / 자가용</p>
      </div>
      <div class="col-lg-4">
        <p>이상한데로 가면 안된다는 문구</p>
      </div>
    </div>
  </div>
</section>
